.container1{
    display:flex;
    justify-content:center;
    margin-top:20px;
    gap:20px;
    padding:10px;
}
.container{
    display: flex;
    justify-content: center;
    gap:10px;
    padding-left: 20px;
    padding-right:20px;
    margin-top:20px;       
}
.card{
    width:16rem;
    height:360px;
    border-radius:12px;
    transition: 0.5s;
    box-shadow:0 1px 2px rgba(0,0,0,0.1);
     overflow: hidden;
}

.card img{
    width:100%;
    height: 200px;
    display:block;
    background-color: red;
}   
         
.card:hover{
    background-color:#870000
    transform:scale(1.1);
}
.card-body{
    padding:15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    font-size:15px;
    color:rgb(59, 2, 2)
}

         .btn-grad {background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            transform: translate(3px, 3px);
            transition: all 200ms ease;
            text-decoration: none;
          }
         .btn-grad:hover{
            background-position: right center;
            color:antiquewhite;
            text-decoration: none;
         }
 .category{
    justify-content: center;
    gap:  20px;
    width: 50px;
    margin:20px;
    border-radius: 100%;
}  
.category img{
   display: flex;
   justify-content: center;
   gap: 20px;
   width: 50px;
   border-radius: 100%;
}
   
  .category img:hover{
    transform: scale(1.5);
    transition: 0.5s;
  }       
         